<h1>Monthly Expenditures View</h1>

<div id = 'monthlyExpenditure' class="col-md-12">
  <div class="col-md-6">
    <h3> Monthly Budget: {{ec.budget.list[0].monthly_budget}}</h3>
  </div>
  <div class="col-md-6">
    <h3 > Total Monthly Expenditure: {{ec.calculateExpenditure()}}</h3>
  </div>
</div>

<!-- <p>{{ec.checkBudget}}</p> -->

<div ng-if="ec.checkBudget()" class="alert alert-danger">
  <strong>Warning!</strong> The monthly expenditures is larger than the alotted budget! Time to PHIRE some people.
</div>

<div id = "addEmployee">
  <form id ="newEmployeeForm" class="col-md-12">
    <h3>New Employee</h3>
    <div class="form-group col-xs-6 col-md-4">
      <label>First Name</label><br>
      <input ng-model="ec.newEmployee.first_name" placeholder="First Name">
    </div>
    <div class="form-group col-xs-6 col-md-4">
      <label>Last name</label><br>
      <input ng-model="ec.newEmployee.last_name" placeholder = "Last Name">
    </div>
    <div class="form-group col-xs-6 col-md-4">
      <label>ID Number</label><br>
      <input ng-model="ec.newEmployee.id_number" placeholder="ID Number">
    </div>
    <div class="form-group col-xs-6 col-md-4">
      <label>Job Title</label><br>
      <input ng-model="ec.newEmployee.job_title" placeholder="Job Title">
    </div>
    <div class="form-group col-xs-6 col-md-4">
      <label>Annual Salary</label><br>
      <input ng-model="ec.newEmployee.annual_salary" placeholder="Annual Salary">
    </div>
    <div class="form-group col-xs-6 col-md-4">
      <button id="formButton" ng-click="ec.addEmployee()">Add Employee</button>
    </div>
  </form>
</div>

<div id = "activeExpenditures">
  <h3>Employee Expenditures</h3>
  <table align = "center">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>ID Number</th>
      <th>Job Title</th>
      <th>Annual Salary</th>
      <th>Active/Inactive</th>
    </tr>
    <tr ng-repeat="employee in ec.expendituresList.list" ng-show="employee.active" ng-class="{active: employee.active}">
      <td>{{employee.first_name}}</td>
      <td>{{employee.last_name}}</td>
      <td>{{employee.id_number}}</td>
      <td>{{employee.job_title}}</td>
      <td>{{employee.annual_salary}}</td>
      <td><button ng-click="ec.statusChangeInactive(employee.id)" type="button" name="button">Set Inactive</button></td>
    </tr>
    <tr ng-repeat="employee in ec.expendituresList.list" ng-hide="employee.active" ng-class="{inactive: !employee.active}">
      <td>{{employee.first_name}}</td>
      <td>{{employee.last_name}}</td>
      <td>{{employee.id_number}}</td>
      <td>{{employee.job_title}}</td>
      <td>{{employee.annual_salary}}</td>
      <td><button ng-click="ec.statusChangeActive(employee.id)" type="button" name="button">Set Active</button></td>
    </tr>
  </table>

</div>
